@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


:root{
    /* COLORS */
    /* Primary Colors */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral Colors */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1,h2{
    font-weight: 700;
}

.card{
    max-width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.col.img{
    background-image: url(../images/image-product-mobile.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.col{
    background-color:var(--white);
    padding: 20px;
    border-radius: 0 0 20px 20px;
}

.lead{
    letter-spacing: 0.45rem;
    opacity: 0.5;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card-title{
    font-size: 2.5rem;
    font-family: 'Fraunces', serif;
    margin-bottom: 10px;
    font-weight: 700;
}

.card-text{
    line-height: 1.5rem;
    opacity: 0.5;
    font-size: 1rem;
    margin-bottom: 10px;
}

.price{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.main-price,
.discount-price {
    font-weight: 700;
}

.main-price{
    font-size: 2rem;
    color: var(--dark-cyan);
    font-family: 'Fraunces', serif;
}

.discount-price{
    margin-left: 20px;
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}

.btn{
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    background-color: var(--dark-cyan);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:focus{
    background-color: var(--very-dark-blue);
}

.btn svg{
    margin-right: 10px;
}


@media only screen and (min-width: 768px) {
    .card {
        min-width: 780px;
        height: 480px;
        display: flex;
        flex-direction: row;
    }

    .col.img {
        background-image: url(../images/image-product-desktop.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 50%;
        border-radius: 20px 0 0 20px;
    }

    .col {
       width: 50%;
       padding: 25px;
       border-radius: 0 20px 20px 0;

    }

    .lead {
        margin-bottom: 20px;
    }

    .card-title {
        margin-bottom: 15px;
    }

    .card-text {
        margin-bottom: 20px;
    }

    .price {
        margin-bottom: 15px;
    }
}

























/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */
